img {
  width: 200px;
  max-length: 250px;
  max-width: 310px;
  border: 2px solid gray;
  -webkit-transition: width 2s; /* Safari */
  -webkit-transition-delay: 0.05s; /* Safari */
  transition: width 2s;
  transition-delay: 0.05s;
}

img:hover {
  width: 310px
}

.card {
  background-color: silver;
  padding: 20px;
}

.container {
  background-color: silver;
}

.header {
  padding: 50px;
  margin-bottom: 35px;
  background-color: white;
}

#logo {
  position: absolute;
  background: url("/img/485.png");
  width: 250px;
  height: 250px;
  background-size: contain;
  background-repeat: no-repeat;
  top: 237px;
  left: 50%;
}

#stage {
  background-color: silver;
}

#apps {
  width: 350px;
  border: 1px solid black;
  float:right;
  margin-right: 25px;
}

.cover{
    color: rgb(255, 255, 255);
    position: relative;
    min-height: 600px;
    background: url("http://2.bp.blogspot.com/-rmYWGGMSZcc/TmvMUYS_DQI/AAAAAAAABSc/o9AQA-A-PFo/s1600/hd+wallpaper+_TheWallpaperDB.blogspot.com+_+%25283%2529.jpg") no-repeat scroll 0px 100% / cover transparent;
}

nav ul li {
  list-style:none;
  float:left;
  margin-right:50px;

}
